# .gitignore
build/
dist/
main.spec
# Ignore the virtual environment directory
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled files
*.o
*.so
*.exe

# Ignore coverage reports
htmlcov/
.coverage

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables files
.env

